---
import Layout from '../layouts/Layout.astro';
import ResourceCard from '../components/ResourceCard.astro';
---

<Layout title="Remote Work Resources - selfcare.tech">
	<!-- Header -->
	<div class="mb-8 mt-4">
		<h1 class="text-3xl font-bold text-selfcare-600">Remote Work Resources</h1>
	</div>

	<!-- Resources List -->
	<div>
		<ResourceCard
			title="Awesome Remote Work"
			url="https://github.com/hugo53/awesome-RemoteWork"
			description="Resources for remote workers: approaches, hiring page, remote life and more."
		/>
		<ResourceCard
			title="Glitch for Remote Work"
			url="https://glitch.com/remote/"
			description="Glitch runs remotely and has developed this guide to help others do the same."
		/>
		<ResourceCard
			title="How to lead with clarity and empathy in the remote world"
			url="https://stackoverflow.blog/2020/11/05/how-to-lead-with-clarity-and-empathy-in-the-remote-world/"
			description="In this newly remote world, it can be difficult to figure out the best ways to support and motivate your team."
		/>
		<ResourceCard
			title="5 self-care habits to get into if you work from home"
			url="https://www.moo.com/blog/business-tips/5-self-care-habits-for-homeworkers"
			description="Working at home means you've got total control over your work environment – so why not make it into a VIP experience with these daily self-care habits?"
			isLast={true}
		/>
	</div>
</Layout>
