<!-- Simple navigation links matching original design -->
<div class="flex space-x-4 text-sm">
  <a href="/remote" class="text-white hover:underline">Remote</a>
  <a href="/about" class="text-white hover:underline">About</a>
</div>